Data Dictionary

Variable	Definition	Key

survival	Survival	0 = No, 1 = Yes

pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd

sex	Sex	

Age	Age in years	

sibsp	# of siblings / spouses aboard the Titanic	

parch	# of parents / children aboard the Titanic	

ticket	Ticket number	

fare	Passenger fare	

cabin	Cabin number

embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton


Variable Notes

pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...

Sibling = brother, sister, stepbrother, stepsister

Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: The dataset defines family relations in this way...
Parent = mother, father
Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score as r2
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler
import random

import warnings
warnings.filterwarnings('ignore')

matplotlib.rcParams.update({'font.size': 14})

In [2]:
TRAIN_DATA_PATH = './data/train.csv'
TEST_DATA_PATH = './data/test.csv'

In [3]:
tr_df = pd.read_csv(TRAIN_DATA_PATH)
tt_df = pd.read_csv(TEST_DATA_PATH)

In [4]:
tr_df.sample(10).T

,302,480,296,9,601,187,731,620,430,258
PassengerId,303,481,297,10,602,188,732,621,431,259
Survived,0,0,0,1,0,1,0,0,1,1
Pclass,3,3,3,2,3,1,3,3,1,1
Name,"Johnson, Mr. William Cahoone Jr","Goodwin, Master. Harold Victor","Hanna, Mr. Mansour","Nasser, Mrs. Nicholas (Adele Achem)","Slabenoff, Mr. Petco","Romaine, Mr. Charles Hallace (""Mr C Rolmane"")","Hassan, Mr. Houssein G N","Yasbeck, Mr. Antoni","Bjornstrom-Steffansson, Mr. Mauritz Hakan","Ward, Miss. Anna"
Sex,male,male,male,female,male,male,male,male,male,female
Age,19,9,23.5,14,NaN,45,11,27,28,35
SibSp,0,5,0,1,0,0,0,1,0,0
Parch,0,2,0,0,0,0,0,0,0,0
Ticket,LINE,CA 2144,2693,237736,349214,111428,2699,2659,110564,PC 17755
Fare,0,46.9,7.2292,30.0708,7.8958,26.55,18.7875,14.4542,26.55,512.329
Cabin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C52,NaN
Embarked,S,S,C,C,S,S,C,C,S,C

In [5]:
tt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [13]:
survived_by_embarked=tr_df.groupby(['Embarked'])['Survived'].value_counts().to_dict()

In [ ]:
–î–æ–¥–µ–ª–∞—Ç—å –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –æ—Ç embarked –∏ –∑–∞–ø–∏—Å–∞—Ç—å –≤ –∫–ª–∞—Å—Å

In [7]:
class DataPreparation:
    def __init__(self):
        """–ö–æ–Ω—Å—Ç–∞–Ω—Ç—ã –∏ —Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è"""
        self.med_age = None
    
    def meds_and_new_features(self, df):
        self.med_age = df['Age'].median()
        
    def prepare(self, df):
        df['PassengerId'] = df['PassengerId'].astype(str)
        
        df['Age'] = df['Age'].fillna(self.med_age)
        df['Embarked'] = df['Embarked'].fillna('S')
        
        df['Sex'] = df['Sex'].replace({'female': 1, 'male':0 })
        df['Pclass'] = df['Pclass'].replace({1: 3, 3: 1})
        return df

In [8]:
data_prepare = DataPreparation()

# train
data_prepare.meds_and_new_features(tr_df)
tr_df = data_prepare.prepare(tr_df)

# test
tt_df = data_prepare.prepare(tt_df)

In [ ]:
features = ['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked']
target = ['Survived']

In [ ]:
PassengerId Pclass       
Name          
Sex          
Age         
SibSp         
Parch      
Ticket       
Fare        
Cabin          
Embarked